body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
	background-color: #454545;
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.hidden {
    display: none !important;
}

#sidebar {
	opacity: 0.85;
}

.sidebar-header {
	border-bottom: 1px solid #8080A0;
}

.sidebar-tabs,
.sidebar-header,
.sidebar-content {
    background-image: url("../img/backgroundpanel.jpg");
}

.sidebar-tabs li a > i,
.sidebar-content {
    color: white;
}

.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
	background-color: #8080A0;
}

.sidebar-tabs li.disabled a > i {
    color: #454545;
}

.sidebar-layer {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    clear: both;
    margin-bottom: 3px;
    height: 1.5em;
}

.sidebar-layer img {
    float: left;
    margin-right: 5px;
    height: 1.5em;
}

.sidebar-layer .circle {
    float: left;
    margin-right: 7px;
    border-radius: 50%;
    height: 1.4em;
    width: 1.4em;
    opacity: 0.55;
}

.sidebar-layer .polygon {
    float: left;
    margin: auto 7px auto 3px;
    height: 1.4em;
    width: 1.4em;
    opacity: 0.55;
}

.sidebar-layer p {
    padding: 3px 0 1px 0;
}

.sidebar-layer.active {
    color: white;
}

.sidebar-layer.inactive {
    color: gray;
}

#searchFilter {
    margin-left: 15px;
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
    color: white;
    border: 1px solid #375484;
}

.search-list {
    font-size: 1.25em;
    list-style-type: none;
}