<!DOCTYPE html>
<html ng-app="bdoApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/leaflet.css" />
    <link rel="stylesheet" href="css/leaflet.draw.css" />
    <link rel="stylesheet" href="css/leaflet-sidebar.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css" />
</head>

<body>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
            	<li for="info"><a href="#info" role="tab"><i class="fa fa-info"></i></a></li>
                <li for="layers"><a href="#layers" role="tab"><i class="fa fa-eye"></i></a></li>
                <li for="search"><a href="#search" role="tab"><i class="fa fa-search"></i></a></li>
            </ul>

            <!-- <ul role="tablist">
                <li for="settings"><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul> -->
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
        	<div class="sidebar-pane" id="info">
                <h1 class="sidebar-header"><span>Info</span><span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <div id="info-coordinates" class="hidden"><p class="coord-data"></p></div>
                <div id="info-node" class="hidden"><h2 class="node-name"></h2><p class="node-coordinates"></p><p class="node-notes"></p><div class="node-img"></div></div>
            </div>
            <div class="sidebar-pane" id="layers">
                <h1 class="sidebar-header"><span>Layers</span><span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <div id="layer-content" class="sidebar-layers"></div>
            </div>
            <div class="sidebar-pane" id="search" ng-controller="SearchController">
                <h1 class="sidebar-header">
                    <span>Search</span>
                    <input type="search" ng-model="s" id="searchFilter" class="search-query form-control" />
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <div id="search-content" class="sidebar-search-results">
                    <ul id="search-list" class="search-list">
                        <li class="search-result" ng-repeat="r in pointsOfInterest | filter:{ name: s }" id="{{r.id}}">
                            <div for="content-{{r.id}}" class="search-result-name" ng-click="toggle('content-' + r.id)">
                                <span><i class="fa fa-caret-right">&nbsp</i></span>
                                {{r.name}}
                            </div>
                            <div id="content-{{r.id}}" class="search-result-content" style="display:none">
                                <p class="search-result-coordinates" ng-show="r.row.lat">[{{r.row.lat}}, {{r.row.lon}}]</p>
                                <p class="search-result-vertices" ng-show="r.row.vertices">
                                    [<br /><div ng-repeat="v in r.row.vertexArray">{{v[0]}}, {{v[1]}}<br /></div>]
                                </p>
                                <p class="search-result-notes" ng-show="r.row.notes">{{r.row.notes}}</p>
                                <div class="search-result-img" ng-show="r.row.screenshot"><a ng-href="{{r.row.screenshot}}"><img ng-src="{{r.row.screenshot}}"></img></a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header"><span>Settings</span><span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div> -->
        </div>
    </div>

    <div id="map" class="sidebar-map"></div>
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/tabletop.js"></script>
    <script src="js/Leaflet.LocationShare.js"></script>
    <script src="js/tabletop.js"></script>
    <script src="js/jquery-sidebar.min.js"></script>
    <script src="js/leaflet-sidebar.min.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- <script src="js/angular-route.min.js"></script> -->
    
    <script src="js/bdo.js"></script>
    <script src="js/controllers.js"></script>
</body>

</html>
