<div id="map"></div>
<div id="sidebar" class="sidebar collapsed" ng-controller="SidebarController">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
        	<li for="info"><a href="#info" role="tab"><i class="fa fa-info"></i></a></li>
            <li for="layers"><a href="#layers" role="tab"><i class="fa fa-eye"></i></a></li>
            <li for="search"><a href="#search" role="tab"><i class="fa fa-search"></i></a></li>
        </ul>

        <!-- <ul role="tablist">
            <li for="settings"><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul> -->
    </div>

    <!-- Tab panes -->
    <div class="sidebar-content">
    	<div class="sidebar-pane" id="info">
            <h1 class="sidebar-header"><span>Info</span><span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            <div id="info-coordinates" class="hidden"><p class="coord-data"></p></div>
            <div id="info-node" class="hidden">
            	<h2 class="node-name"></h2>
            	<p class="node-coordinates"></p>
            	<p class="node-notes"></p>
            	<div class="node-img"></div>
            	<div class="node-save"></div>
           	</div>
        </div>
        <div class="sidebar-pane" id="layers">
            <h1 class="sidebar-header"><span>Hide/Show Layers</span><span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            <div id="layer-content" class="sidebar-layers">
                <div id="layer-all" class="sidebar-layer active"><p>All Layers</p></div>
            </div>
        </div>
        <div class="sidebar-pane" id="search">
            <h1 class="sidebar-header">
                <span>Search</span>
                <input type="search" ng-model="s" id="searchFilter" class="search-query form-control" />
                <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <div id="search-content" class="sidebar-search-results">
                <ul id="search-list" class="search-list">
                    <li class="search-result" ng-repeat="e in entities | filter:{ title: s }" id="{{e.id}}">
                        <div for="content-{{e.id}}" class="search-result-name" ng-click="toggle('content-' + e.id)">
                            <span><i class="fa fa-caret-right">&nbsp</i></span>
                            {{e.title}}
                        </div>
                        <div id="content-{{e.id}}" class="search-result-content" style="display:none">
                            <p class="search-result-coordinates" ng-repeat="m in e.markers">[{{m.latitude}}, {{m.longitude}}]</p>
                            <p class="search-result-coordinates" ng-repeat="c in e.circles">[{{c.latitude}}, {{c.longitude}}]</p>
                            <p class="search-result-vertices" ng-repeat="p in e.polygons">
                                [ <br /><span ng-repeat="v in p.vertexArray">{{v[0]}}, {{v[1]}}<br /></span> ]
                            </p>
                            <p class="search-result-notes" ng-repeat="n in e.notes">{{n.note}}</p>
                            <div class="search-result-img" ng-repeat="i in e.images"><a ng-href="{{i.url}}"><img ng-src="{{i.url}}"></img></a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="markerModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Create Marker</h4>
			</div>
			<div class="modal-body">
				<table>
					<tbody>
						<tr>
							<td><label for="markerTitle">Title</label></td>
							<td><input id="markerTitle" type="text" maxlength="50" ng-value="activeEntity.title" /></td>
						</tr>
						<tr>
							<td><label for="markerType">Icon Type</label></td>
							<td><select id="markerType" name="markerType" ng-model="activeEntity.markers[0].icon">
									<option ng-repeat="i in icons" ng-value="i">{{i.name}}</option>
							</select></td>
						</tr>
						<tr>
							<td><label for="markerLatitude">Latitude</label></td>
							<td><input id="markerLatitude" type="text" maxlength="50" ng-value="activeEntity.markers[0].latitude" /></td>
						</tr>
						<tr>
							<td><label for="markerLongitude">Longitude</label></td>
							<td><input id="markerLongitude" type="text" maxlength="50" ng-value="activeEntity.markers[0].longitude" /></td>
						</tr>
						<tr>
							<td><label for="markerNotes">Notes</label></td>
							<td><input type="button" value="Add" /></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<table id="markerNotes">
									<tbody>
										<tr ng-repeat="n in activeEntity.notes">
											<td><textarea ng-id="n.id" rows="2" cols="50">{{n.note}}</textarea></td>
											<td><input type="button" value="Remove" /></td>
										</tr>
									</tbody>
								</table>							
							</td>
						</tr>
						<tr>
							<td><label for="markerImages">Images</label></td>
							<td><input type="button" value="Add" /></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<table id="markerImages">
									<tbody>
										<tr ng-repeat="i in activeEntity.images">
											<td><input ng-id="i.id" type="text" ng-value="i.url" /></td>
											<td><input type="button" value="Remove" /></td>
										</tr>
									</tbody>
								</table>							
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveEntity(activeEntity)">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">Close</button>
			</div>
		</div>
	</div>
</div>
